<template name="admin">
    {{#if isAdmin}}
    <table class="table table-bordered table-striped table-hover table-responsive">
        <thead>
        <tr>

            <td>
                <input type="text" class="form-control" placeholder="Title" id="title">
            </td>

            <td>
                <input type="text" class="form-control" placeholder="Type" id="type">
            </td>

            <td>
                <input type="text" class="form-control" placeholder="Prod" id="prod">
            </td>

            <td>
                <input type="text" class="form-control" placeholder="Year" id="year">
            </td>

            <td>
                <input type="number" class="form-control" placeholder="Rating" id="rating">
            </td>

            <td>
                <button type="button" class="btn btn-success" id="addMovie">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-default" id="clear">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Type</th>
            <th>Prod</th>
            <th>Year</th>
            <th>Rating</th>
            <td>Edit</td>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
        <tr>
            <th scope="row">{{_id}}

            </th>
            <td>{{title}}</td>
            <td>{{type}}</td>
            <td>{{prod}}</td>
            <td>{{year}}</td>
            <td>{{rating}}</td>
            <td>
                <button type="button" class="btn btn-xs btn-default editMovie">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-xs btn-danger deleteMovie">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    {{else}}
    Hi ,You are in desert Bro, call <a href="/">911 !</a>
    {{/if}}


</template>
