<template name="home">
  <h5>Home</h5>
  <div class="row">

    {{#each movies}}
    <div class="col-xs-6 col-md-3">
      <a href="/movie/{{_id}}" class="thumbnail">
        <img src="http://lorempicsum.com/futurama/350/200/{{index}}" alt="{{Title}}">
      </a>
      <div class="caption">
        <h3><a href="/movie/{{_id}}">{{Title}}</a></h3>
         <p>The movie {{Title }} is a {{Type}} who was made in {{year}} By {{Prod}}</p>
        <p>Rating : {{Rating}} stars </p>
        <p>
          <button class="btn btn-primary up">VoteUp</button>
          <button class="btn btn-default down">VoteDown</button>
        </p>
      </div>
    </div>
    {{/each}}
  </div>
</template>
