<template name="movie">
  <h5>{{movie.Title}}</h5>
  <div class="col-xs-6 col-md-3">
    <a href="/movie/{{_id}}" class="thumbnail">
      <img src="http://lorempicsum.com/futurama/350/200/{{index}}" alt="{{Title}}">
    </a>
    <div class="caption">
      <h3><a href="/movie/{{_id}}">{{Title}}</a></h3>
       <p>The movie {{movie.Title }} is a {{movie.Type}} who was made in {{movie.year}} By {{movie.Prod}}</p>
      <p>Rating : {{movie.Rating}} stars </p>
      <p>
        <button class="btn btn-primary up">VoteUp</button>
        <button class="btn btn-default down">VoteDown</button>
      </p>
    </div>
  </div>
</template>
