<template name="oneMovie">
    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <a href="/movie/{{_id}}">
              <img src="http://placehold.it/320x150">
            </a>
            <div class="caption">
                <a href="/movie/{{_id}}">
                  <h3>{{title}}
                      <small>{{prod}}</small>
                  </h3>
                </a>
                <p>{{type}} | {{year}}</p>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success up">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </button>
                    <button type="button" class="btn btn-danger down">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                    </button>
                </div>
                <br>

                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
        </div>
    </div>
</template>
