<template name="movie">
    <div class="container">
        <hr class="featurette-divider">
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">

            <h2 class="featurette-heading">Title
                <span class="text-muted">Prod</span>
            </h2>

            <p>The Title is a Type movie who was made at Year By Prod.</p>
        </div>
        <hr class="featurette-divider">
    </div>
</template>
