@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.all-movies .movie{
  padding: 0 1% 1% 1%;
}
.all-movies .movie .movie-container{
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-sizing: border-box;
}

.all-movies .movie .movie-container a.thumbnail{
  border: 0;
  padding: 0;
}
.all-movies .movie .movie-container .caption{
  padding: 0 1em 1em 1em;
}
.all-movies img{
  margin: 0;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.line1 span{
  margin: 0 10px;
}
.caption h3{
  color: #136CB2;
}
.up{
  background: #f1c40f;
  border: none;
  width: 100%;
}
.up:hover{
  background: #f1c40f;
  border: none;
}
.down{
  background: #136CB2;
  color: white;
  border: none;
  width: 100%;
}
.down:hover{
  background: #136CB2;
  color: white;
  border: none;
}
.firstBtn, .secBtn{
  width: 47%;
  padding: 0 1em;
  display: inline-block;
}
fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
  margin-left: 0px !important;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 0 2px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}
.rating > input + label{
  color: #f1c40f;
}
