<template name="home">
    <header class="jumbotron hero-spacer">
        <h1>Grab Some PopCorn !</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus
            non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam
            repellat.</p>

        <p><a class="btn btn-primary btn-large">Get a random movie!</a>
        </p>
    </header>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h3>Featured Ones</h3>
        </div>
    </div>
    <div class="row text-center">
        {{#each movies }}
            {{> oneMovie }}
        {{/each}}
    </div>
</template>
